.teddy {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 140px;
}

.head {
	position: relative;
	width: 85px;
	height: 80px;
	background-color: #9e5418;
	border-radius: 50px;
}

.ear1 {
	position: absolute;
	top: -5px;
	left: -5px;
	background-color: #9e5418;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.ear2 {
	position: absolute;
	top: -5px;
	right: -5px;
	background-color: #9e5418;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.eye1 {
	position: absolute;
	top: 20px;
	left: 18px;
	background-color: rgb(0, 0, 0);
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.eye2 {
	position: absolute;
	top: 20px;
	right: 18px;
	background-color: rgb(0, 0, 0);
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.mouth-nose {
	position: absolute;
	bottom: 8px;
	right: 25px;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	filter: drop-shadow(0 0 2px #000000af);
}

.nose {
	background-color: #3f1d00;
	width: 16px;
	margin: 3px 0 0 8px;
	height: 16px;
	border-radius: 50%;
}

.mouth {
	width: 12px;
	margin: auto;
	height: 6px;
	border-bottom: 2px #3f1d00 solid;
	border-radius: 50%;
}

.body {
	position: relative;
	background: #9e5418;
	width: 100px;
	height: 125px;
	border-radius: 45%;
	margin-top: -5px;
}

.hand1 {
	position: absolute;
	left: -40px;
	top: 12px;
	background-color: #9e5418;
	width: 65px;
	height: 30px;
	border-radius: 20px 0 0 20px;
}

.hand2 {
	position: absolute;
	right: -40px;
	top: 12px;
	background-color: #9e5418;
	width: 65px;
	height: 30px;
	border-radius: 0 20px 20px 0;
}

.leg1 {
	position: absolute;
	left: -30px;
	bottom: 6px;
	background-color: #9e5418;
	width: 105px;
	height: 35px;
	border-radius: 20px 0 0 20px;
	transform: rotate(-30deg);
	/* transform-origin: bottom right; */
}

.leg2 {
	position: absolute;
	right: -30px;
	bottom: 6px;
	background-color: #9e5418;
	width: 105px;
	height: 35px;
	border-radius: 0 20px 20px 0;
	transform: rotate(30deg);
}
