* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.tableRow:hover {
	background-color: rgb(230, 230, 230);
}

.nav_items:hover {
	background-color: rgba(130, 130, 130, 0.5);
	/* marginLeft:"20px", color:"white", border:"0 solid rgb(77,77,77)", padding:"5px 10px", borderRadius:"10px" */

	border: 0 solid rgb(77, 77, 77);
	padding: 5px 10px;
	border-radius: 10px;
}

.nav_items {
	margin-left: 20px !important;
	display: inline;
	color: white;
}
